*, ::after, ::before {
    box-sizing: border-box;
}

.copyright {
    font-family: "Opens Sans", hevetica, arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

body{background-color: #EEEEEE;}

img{width:auto;height:auto;max-height: 100%;}

.text-center {
    text-align: center;
}

/* Cabeçalho
------------------------------------------------- */

header {
  width: 100%;
}

.height_header {
  height: 100%;
}

header .col-n1 {
  text-align: left !important;
}

header .logo {
  display: inline-block;
}

.newsletter-text {
    width: 100%;
    max-width: 1200px;
    max-height: 530px;
    margin: 0 auto;
}

/* Formulario 
------------------------------------------------- */

.section-newsletter {
    padding-top: 150px;
    padding-bottom: 150px;
}
.newsletter-text .default-form {
    text-align: center;
}
form .input-inline-block {
    margin: 0 10px;
}
.input-inline-block {
    display: inline-block;
}
.newsletter-text input {
    border: none;
    outline: none;
    padding: 20.5px 30px;
}
.crew-text {
    font-size: 50px;
    font-weight: 900;
    line-height: 40px;
    margin-bottom: 15px;
}

.info-form {
    margin-top: 40px;
    line-height: 30px;
}

/* Videos 
------------------------------------------------- */

.v_selection{width:33.33%;float:left;margin-left:5px;padding-bottom: 56.25%;position:relative;}
.v_selection iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
._1_video {
    margin-left: 10px;
}
._3_video {
    margin-right: 10px;
}

/* Rodapé
------------------------------------------------- */

footer {
    width: 100%;
    background-color: white;
}

.copyright {
    padding: 40px 0;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

/* Container */

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.crew-gta {
    background-image: url("https://i.imgur.com/IhNNWIp.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
