*, ::after, ::before {
    box-sizing: border-box;
}

body{background-color:#F2F2F2;}

img{width:auto;height:auto;max-height: 100%;}

#header{width:100%;height:54px;overflow:hidden;clear:both;}

#div_main{width:100%;max-width:1200px;max-height:500px;margin:0 auto;}
button.yellow:background:yellow;border:0;;

