*, ::after, ::before {
    box-sizing: border-box;
}

.copyright {
    font-family: "Opens Sans", hevetica, arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

body{background-color:#F2F2F2;}

img{width:auto;height:auto;max-height: 100%;}

.text-center {
    text-align: center;
}

/* Cabeçalho
------------------------------------------------- */

header {
  width: 100%;
}

.height_header {
  height: 100%;
}

header .col-n1 {
  text-align: left !important;
}

header .logo {
  display: inline-block;
}

.div_main{width:100%;max-width:1200px;min-height:530px;margin:0 auto;}
.yellow{background:yellow;border:0;}
.v_selection{width:33.33%;float:left;margin-left:5px;padding-bottom: 56.25%;position:relative;}
.v_selection iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
._1_video{margin-left:10px;}
._3_video{margin-right:10px;}

/* Rodapé
------------------------------------------------- */

footer {
    width: 100%;
    background-color: pink;
}

.copyright {
    padding: 40px 0;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

/* Container */

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
