*, ::after, ::before {
    box-sizing: border-box;
}

body{background-color:#F2F2F2;}

img{width:auto;height:auto;max-height: 100%;}

#header{width:100%;height:54px;overflow:hidden;clear:both;}

.div_main{width:100%;max-width:1200px;min-height:530px;margin:0 auto;}
.yellow{background:yellow;border:0;}
.v_selection{width:33.33%;float:left;margin-left:5px;padding-bottom: 56.25%;position:relative;}
.v_selection iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
._1_video{margin-left:10px;}
._3_video{margin-right:10px;}
