/* CSS Reset
------------------------------------------------- */
html, body, div, span, applet, object, iframe,
p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, .widget{margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; -webkit-font-smoothing: antialiased;}
.box-sizing{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.fixed{position: fixed;}
.jump-link, .post-share-buttons{display: none!important;}
*{margin: 0; padding: 0;}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    background-color: #EEEEEE;
    font-family: 'Open Sans', Helvetica, sans-serif !important;
}

img {
    width: auto;
    height: auto;
    max-height: 100%;
}

.text-center {
    text-align: center;
}

/* Cabeçalho
------------------------------------------------- */

header {
  width: 100%;
}

.height_header {
  height: 100%;
}

header .col-n1 {
  text-align: left !important;
}

header .logo {
  display: none;
}

.newsletter-text {
    width: 100%;
    max-width: 1200px;
    max-height: 530px;
    margin: 0 auto;
}

/* Menu
------------------------------------------------- */
ul.links li {
    display: inline-block;
}

/* Formulario 
------------------------------------------------- */

.section-newsletter {
    padding-top: 150px;
    padding-bottom: 150px;
}
.newsletter-text .default-form {
    text-align: center;
}
form .input-inline-block {
    margin: 0 10px;
}
.input-inline-block {
    display: inline-block;
}
.newsletter-text input {
    border: none;
    outline: none;
    padding: 20.5px 30px;
    margin-bottom: 40px;
}
.default-form input {
    background-color: rgba(17, 17, 17, 0.6);
    color: white;
    font-family: "Open Sans";
}
.default-form input::placeholder {
  color: white;
    font-family: "Open Sans";
    font-weight: 500;
}
.crew-text {
    font-family: "Source Sans Pro", arial;
    font-size: 50px;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 15px;
}

.info-form {
    color: white;
    margin-bottom: 40px;
    line-height: 30px;
}

/* Videos 
------------------------------------------------- */

.v_selection{width:33.33%;float:left;margin-left:5px;padding-bottom: 56.25%;position:relative;}
.v_selection iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
._1_video {
    margin-left: 10px;
}
._3_video {
    margin-right: 10px;
}

/* Rodapé
------------------------------------------------- */

footer {
    width: 100%;
    background-color: white;
}

.copyright {
    font-family: "Opens Sans", hevetica, arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.copyright {
    padding: 40px 0;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

/* Container */

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.crew-gta {
    background-image: url("https://i.imgur.com/IhNNWIp.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
