/*
! Spec Unit of Brazil
----------------------------------------------------------*/

html {
    height: 100%;
    min-height: 100%;
}
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del,
dfn, em, font, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    list-style: none;
}

/*
----------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

*, *:after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a img {
    border: 0;
    vertical-align: bottom;
}

a img {
    border: 0;
}

img {
    height: auto;
    max-width: 100%;
    width: auto\9;
    -ms-interpolation-mode: bicubic;
    border: 0;
    vertical-align: bottom;
    image-rendering: -webkit-optimize-contrast;
}

.grid-container { /* min-width(xxxxpx) */
    max-width: 1200px;
}

.grid-container {
    max-width: 1200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.container {
    margin-left: 30px;
    margin-right: 30px;
}

section, aside, footer {
    display: block;
}

/* Wrapper
----------------------------------------------------------*/

body {
    background-color: #FFFFFF;
    color: var(--body);
    font-family: Arial, Sans-Serif;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    height: 100%;
    min-height: 100%;
    Line-height: 30px;
    -webkit-text-size-adjust: 100%;
    letter-spacing: 0.5px;
    overflow-x: hidden;
}
#site-wrapper {
    background-color: #fff;
}

/* Cabeçalho
----------------------------------------------------------*/
header {
    display: block;
}

.header-section {
    line-height: 50px;
}

.mp-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 100;
    -webkit-box-shadow: 0 0 transparent, 0 0 transparent, 0 5px 5px -4px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 transparent,0 0 transparent,0 5px 5px -4px rgba(0,0,0,.1);
    box-shadow: 0 0 transparent, 0 0 transparent, 0 5px 5px -4px rgba(0,0,0,.1);
}

.mp-header-transparent {
    background-color: transparent;
}

.mp-header-transparent:hover {
    background-color: rgba(19,20,22,0.25);
}

.mp-header-bg {
    background-color: rgba(255, 255, 255, 1);
    -webkit-transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
}

.grid-header-container {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.grid-header-logo, .grid-header-nav {
    padding-left: 10px;
    padding-right: 10px;
}

.grid-header-logo {
    width: 15%;
    float: left;
    line-height: 60px;
    z-index: 1000;
}

.grid-header-nav {
    width: 85%;
    float: right;
}

.site-logo img {
    display: block;
    max-height: 60px;
}

.site-logo h1 {
    font-family: 'Teko', sans-serif; /* 'Open Sans', sans-serif */
    font-size: 25px;
    font-weight: 800;
}

.site-logo .nome {
    display: none;
}

h1.logo a, #navigation ul li a {
    color: rgba(255, 255, 255, 1);
}

.logo a {
    text-decoration: none;
    display: table;
}

/* Menu desktop
----------------------------------------------------------*/
#navigation ul {
    list-style: none;
    line-height: 60px;
}

#navigation {
    float: right;
}

#navigation ul li {
    position: relative;
    float: left;
}

/* Background White
----------------------------------------------------------*/

.mp-header-bg #navigation ul li a {
    color: #030303
}

.mp-header-transparent  #navigation ul li:hover > a,
.mp-header-transparent  #navigation ul li a.active {
    color: rgb(255,255,255);
}

.mp-header-bg  #navigation ul li a:hover,
.mp-header-bg  #navigation ul li a.active {
    color: var(--cor-link-ativo);
}

.mp-header-bg h1 {
    color: #030303
}

/*
#navigation > ul > li > a:not(.home):after {
    content: "\2022";
    position: absolute;
    top: 0;
    left: 9px;
}
*/

.links a:not(.sb)::before {
    content: "";
    height: 3px;
    width: 0;
    position: absolute;
    bottom: 3px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    transition: .2s ease-in-out;
    background: #4dc614;
}

.links li:hover a::before, 
.links li a.active::before, 
.links a:hover::before {
    width: 100%;
}

.mp-header-bg #navigation ul li a:not(.home):after {
    color: var(--body);
}

#navigation ul li a {
    font-family: 'Teko', sans-serif; /* 'Roboto Mono', monospace */
    font-weight: 400;
    font-size: 1.25em; /* 14px */
    text-transform: uppercase; /* lowercase */
    padding: 0 20px;
    text-decoration: none;
    display: block;
    position: relative;
}

/* Sub Menu #1
----------------------------------------------------------*/
#navigation ul li ul.sub-menu {
    background-color: rgba(19,20,22,0.25);
    border: 1px solid #dcdcdc59;

    -webkit-box-shadow: 0 0 transparent, 0 0 transparent, 0 5px 5px -4px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 transparent,0 0 transparent,0 5px 5px -4px rgba(0,0,0,.1);
    box-shadow: 0 0 transparent, 0 0 transparent, 0 5px 5px -4px rgba(0,0,0,.1);

    -webkit-transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    transition: 0.5s ease-out;

    display: none;
}

#navigation ul li ul.sub-menu-001  {
    position: absolute;
    right: 0;
}

#navigation ul li ul.sub-menu-002 {
    position: absolute;
    top: 0;
    right: 201px;
    display: none;
}

.mp-header-bg #navigation ul li ul.sub-menu {
    background-color: #FFFFFF;
}

#navigation > ul > li:hover ul.sub-menu-001 {
    display: block;
}

#navigation ul li ul li:hover ul.sub-menu-002 {
    display: block;
}

ul.sub-menu-001 li {
    line-height: 35px;
}

#navigation li ul.sub-menu li {
    min-width: 200px;
    padding-left: 15px;
}

#navigation li ul.sub-menu li a:after {
    content: "\2022";
    position: absolute;
    top: 0;
    left: 9px;
}

#navigation li ul.sub-menu li:hover > a::after {
    color: #4dc614;
}

#navigation li ul.sub-menu li a {
    font-family: arial, sans-serif;
    font-weight: 500;
    font-size: 14px; 
    padding: 0 30px;
    text-transform: initial; 
}

ul.sub-menu li:first-child {
    padding-top: 25px;
}

ul.sub-menu li:last-child {
    padding-bottom: 30px;
}

/* menu mobile hamburguer animado
----------------------------------------------------------*/
.toggle-nav {
    width: 60px;
    height: 60px;
    background-color: transparent;
    border-radius: 50%;
    float: right;
    cursor: pointer;
    box-shadow: 0 0 0 0 var(--cor-do-comando), 0 0 0 0 var(--cor-do-comando);
    transition: box-shadow 1s ease-in-out;
}

.hamburguer {
    display: block;
    background-color: #FFFFFF;
    width: 30px;
    height: 3px;
    position: relative;
    top: 30px;
    left: 15px;
    transition: .5s ease-in-out;
}

.hamburguer::before,
.hamburguer::after {
    background-color: #FFFFFF;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .5s ease-in-out;
}

.mp-header-bg .hamburguer,
.mp-header-bg .hamburguer::before,
.mp-header-bg .hamburguer::after {
    background-color: var(--body);
}

.hamburguer::before {
    top: -10px;
}

.hamburguer::after {
    bottom: -10px;
}

#menu-hamburguer {
    display: none;
}

/* Desativado, pois foi utilizado jQuery para realizar essa mesma função (checkbox-nav.js)
#menu-hamburguer:checked ~ .grid-header-mobile-nav #mobile-navigation {
    opacity: 1;
    visibility: visible;
} */

#menu-hamburguer:checked ~ label .hamburguer {
    transform: rotate(45deg);
}

#menu-hamburguer:checked ~ label .hamburguer::before {
    transform: rotate(90deg);
    top: 0;
}

#menu-hamburguer:checked ~ label .hamburguer::after {
    transform: rotate(90deg);
    bottom: 0;
}

/* Menu mobile
----------------------------------------------------------*/
.grid-header-mobile-nav {
    animation-name: mob;
    animation-duration: 2s; /* 4 segundos */
    animation-fill-mode: forwards; /* faz parar no final */
    
    clear: both;
}

.grid-header-mobile-nav::-webkit-scrollbar {
    width: 0;
}

@keyframes mob {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

.trigger_active,
.trigger_active:hover { /* Toggle ativa */
    background: rgba(67, 74, 84, 0.8) !important;
}

#mobile-navigation {
    height: 0;
    opacity: 0;

    -webkit-transition: all 800ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -moz-transition: all 800ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -o-transition: all 800ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    transition: all 800ms cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
    
    visibility: hidden;
}

#mobile-navigation > ul.first {
    padding-bottom: 100px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

/*
#mobile-navigation ul li {
    float: left;
    position: relative;
}

#mobile-navigation li:first-child {
    padding-top: 10px;
}

#mobile-navigation li:last-child {
    padding-bottom: 10px;
}

#mobile-navigation ul li a {
    font-family: "Roboto Mono", monospace;
    font-weight: normal;
    display: block;
    padding-bottom: 40px;
    color: white;
    padding: 0 30px;
    text-decoration: none;
    text-align: center;
}

#mobile-navigation ul li a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
*/

/*
----------------------------------------------------------*/
.accordion-menu {
    width: 100%;
    max-width: 767px;
    margin: 10px auto 20px;
  }
  .accordion-menu > li:hover {
      background-color: rgba(0, 0, 0, 0.86);
  }
  .accordion-menu li.open:hover {
      background-color: transparent;
  }
  .accordion-menu li.open .dropdownlink {
      background-color: rgba(7, 124, 199, 0.62);
      color: #ffffff;
  }
  .accordion-menu li.open .dropdownlink .fa-chevron-down {
      transform: rotate(180deg);
  }
  .accordion-menu li:last-child .dropdownlink {
    border-bottom: 0;
  }
  .dropdownlink {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 45px;
    font-size: 18px;
    border-bottom: 1px solid #000000;
    color: #ffffff;
    position: relative;
    transition: all 0.4s ease-out;
  }
 .dropdownlink i {
      position: absolute;
      top: 17px;
      left: 16px;
    }
 .dropdownlink .fa-chevron-down {
      right: 12px;
      left: auto;
  }
  .submenuItems {
    display: none;
    background: rgba(0, 0, 0, 0.86);
  }
 .submenuItems li {
      border-bottom: 1px solid transparent;
 }  
  .submenuItems a {
    display: block;
    color: #ffffff;
    padding: 12px 12px 12px 45px;
    text-decoration: none;
    transition: all 0.4s ease-out;
}
 .submenuItems a:hover {
      border-left: 2px solid var(--cor-do-comando);
      padding-left: 50px;
 }

/*
----------------------------------------------------------*/
main.wrapper section .grid-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

/* section video
----------------------------------------------------------*/
main.wrapper {
    height: 100vh;
    overflow: hidden;
    perspective: 2px;
    transform-style: preserve-3d;
}

main.wrapper section {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.section-parallax {
    position: relative;
    height: 100vh;
    min-height: 700px;
    transform-style: inherit;
}
.section-parallax .grid-container .grid-inner {
    width: 100%;
    text-align: center;
    position: relative;
}

.yt-wrap {
    z-index: -1;
    margin: 0;
    width: 100%;
    height: 0;
    float: left;
    clear: both;
    padding-bottom: 56.25%;
    position: relative;
}
.yt-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
    .video-foreground { height: 300%; top: -100%; }
  }
  @media (max-aspect-ratio: 16/9) {
    .yt-wrap {
        position: relative;
        top: 0; right: 0; bottom: 0; left: 0;
        padding: 0;
        min-width: 100%;
        height: 100vh;
    }
    .video-foreground {
        width: 300% !important;
        height: 100%;
        left: -100%;
        display: block;
        position: relative;
     }
  }
  @media all and (max-width: 600px) {
  .vid-info { width: 50%; padding: .5rem; }
  .vid-info h1 { margin-bottom: .2rem; }
  }
  @media all and (max-width: 500px) {
  .vid-info .acronym { display: none; }
  }

.mute-video {
    bottom: 10px;
    position: absolute;
    left: 50%;;
    margin-left: -12.5px;
    display: block;
    z-index: 2;
}

.mute {
    background-color: transparent;
    background-image: url("file:///C:/Users/Ronald/Desktop/Projects/Test%20Lab/Projects%20(Web%20-%20HTML)/icones/mute-icon.png");
    background-size: cover;
    width: 35px;
    height: 30px;
    cursor: pointer;
}

.text {
    padding: 20px 0;
    color: white;
    font-size: 85px;
    font-family: 'Staatliches', cursive;
    z-index: 11; /* 1px higher than the overlay */
    position: relative;
}

main img {
    z-index: 9;
    position: relative;
}

/* Efeito Pulse logo
----------------------------------------------------------*/
.elemento-logo {
    width: 20%;
    animation: pulsante 0.7s infinite;
    margin: 0 auto;
    display: table;

    display: none;
    margin-top: 50px;
    animation-direction: alternate;
    -webkit-animation-name: pulsante;
    animation-name: pulsante;
  }
  
  @-webkit-keyframes pulsante {
    0% {
      -webkit-transform: scale(1);
      -webkit-filter: brightness(100%);
    }
    100% {
      -webkit-transform: scale(1.1);
      -webkit-filter: brightness(200%);
    }
  }
  
  @keyframes pulsante {
    0% {
      transform: scale(1);
      filter: brightness(100%);
    }
    100% {
      transform: scale(1.1);
      filter: brightness(200%);
    }
  }

  /*
 ----------------------------------------------------------*/

.unmute {
    background-image: url("file:///C:/Users/Ronald/Desktop/Projects/Test%20Lab/Projects%20(Web%20-%20HTML)/icones/unmute-icon2.png");
}

.bg1::before {background-image: url('https://i.imgur.com/egf97GB.jpg');} 
.bg2::before {background-image: url('');}
.bg3::before {background-image: url('');}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    opacity: 1;
}

.section-parallax .overlay {
    /* background-color: rgba(0,0,0,0.3); */
    background-image: url("file:///C:/Users/Ronald/Desktop/Projects/Test%20Lab/Projects%20(Web%20-%20HTML)/assets/images/ps4-june-refresh-video-pattern-01-us-09jun16.png");
     /* Overlay Pattern https://www.sccpre.cat/ https://www.sccpre.cat/png/big/105/1058286_overlay-pattern-png.png 
     https://www.sccpre.cat/png/big/105/1058286_overlay-pattern-png.png */
}

.section-three .overlay {
    background-color: rgba(0,0,0,0.3);
    background-image: url(https://www.sccpre.cat/png/big/105/1058286_overlay-pattern-png.png); /* Overlay Pattern https://www.sccpre.cat/ https://www.sccpre.cat/png/big/105/1058286_overlay-pattern-png.png */
    padding-top: 0;
    padding-bottom: 60px;
}

/* 
*                                   Section 2
----------------------------------------------------------*/
.section-two {
    background-color: #fafafa;
    padding-top: 30px;
    padding-bottom: 0;
    font-weight: 400;
    overflow: hidden;
}

.section-two .container {
    display: flex; /* or inline-flex */
    flex-direction: column;
    justify-content: flex-start;
}

.section-two h3 {
    color: var(--body);
    font-family: 'Teko', sans-serif;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}

.section-two p {
    color: var(--cor-link-ativo);
    font-size: 32px;
    text-align: center;
}

.space,
.section-two h3,
.section-two p {
    margin-bottom: 20px;
}

/*
*                                   Section 3
----------------------------------------------------------*/
article header {
    padding-top: 30px;
    padding-bottom: 30px;
}
.section-three {
    background-color: #fafafa;
    min-height: 467px;
    perspective: 2px;
    transform-style: preserve-3d;
    overflow: hidden;
}

.section-three .grid-container {
    display: -webkit-flex;
    -webkit-flex-direction: row-reverse;
    display: flex;
    flex-direction: row-reverse;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
}

.section-three .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.section-three {
    position: relative;
    transform-style: inherit;
}

.section-parallax::before,
.section-three::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transform: translateZ(-1px) scale(1.5);
}

.section-parallax::before {
    filter: contrast(178%);
}

.section-three h2 {
    color: #272727;
    font-family: "Oswald","Roboto",sans-serif;
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.2;
}
.section-three h2::after {
    content: " ";
    background: var(--cor-do-comando);
    width: 34px;
    height: 4px;
    display: block;
    margin: 26px auto 0;
}

.section-three h3,
.section-three p {
    padding: 0;
    padding-bottom: 20px;
    color: #000000;
    position: relative;
}

.section-three h3 {
    font-family: 'Staatliches', cursive;
    font-size: 40px;
    text-align: left;
}

.section-three p {
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    font-weight: 300;
    line-height: 1.8rem;
    letter-spacing: 0rem;
    text-align: left;
}

/* Teste Edition
--------------------------------------------
.section-three div[class*="grid-container"]:nth-child(2) {
    display: none;
}
.section-three div[class*="grid-container"]:nth-child(1) {
    width: 100%;
}
 The end Teste Edition
--------------------------------------------*/


.section-three .container {
    display: flex; /* or inline-flex */
    justify-content: flex-start;
}

.section-three .grid-container {
    width: 48%;
    float: left;
}

.section-three .grid-container img {
   margin-bottom: 0;
}

/* Image Animation
----------------------------------------------------------*/

.element {
  animation:
    pulse 3s ease infinite alternate,
    nudge 5s linear infinite alternate;
}

@keyframes pulse {
  0%, 100% {
    background-color: transparent;
  }
  50% {
    background-color: transparent;
  }
}

@keyframes nudge {
  0%, 100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(150px, 0);
  }

  80% {
    transform: translate(-150px, 0);
  }
}

/*
*                                 Section 4
----------------------------------------------------------*/
.section-four { /* Section 4 */
    padding-top: 30px;
    padding-bottom: 0;
}

.footer-navigation {
    text-align: center;
}

.footer-navigation img:not(.social) {
    max-width: 100px;
}

.footer-navigation img {
    width: 70%;
}

.footer-navigation img.social {
    width: 30%;
}

/* Nav  Footer
--------------------------------------------*/
#footer-links {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 10px;
}

.footer-navigation {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    overflow: hidden;
}

/* Menu desktop
--------------------------------------------------*/
.footer-navigation > div[class*="grid-footer"] {
    width: 232px; /* 20% / 232px */
    min-width: 232px;
    float: left;
    border-right: 1px solid #0000001c;
    margin-right: 20px;
}
.footer-navigation > div[class*="grid-footer"]:first-child {
    margin-left: 20px;
}
.footer-navigation > div[class*="grid-footer"]:nth-child(4) {
    border-right: 0;
    margin-right: 0;
}

.footer-navigation > div[class*="grid-footer"] a {
    color: #272727;
    display: table-cell;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    text-decoration: none;
    text-transform: initial;
    margin-bottom: 10px;
    position: relative;
}
.footer-navigation > div[class*="grid-footer"] a:hover {
    color: var(--cor-link-ativo);
}
.footer-navigation > div[class*="grid-footer"] h5 {
    color: var(--cor-link-ativo);
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 600;
    text-align: left;
    text-transform: initial;
    margin-bottom: 10px;
}
@media screen and (max-width: 1024px) { /* Tablet */
    .footer-navigation {
        width: 868.1px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 80px;
        overflow: hidden;
    }
    .footer-navigation div[class*="grid-footer"] {
        width: 197px; /* 20% / 232px */
        min-width: 197px;
        float: left;
        border-right: 1px solid #0000001c;
        margin-right: 20px;
    }
}

/* Footer Links Mobile
----------------------------------------------------------*/
#footer-mobile-ac {
    display: none;
}

#footer-mobile-ac ul {
    text-align: center;
    padding-bottom: 10px;;
}

#footer-mobile-ac li {
    display: initial;
    padding: 0 5px
}

#footer-mobile-ac li a {
    display: inline-block;
}

#footer-mobile-ac span {
    width: 30px;
    height: auto;
    display: block;
    position: relative;
}

@media screen and (max-width: 800px) {
    .footer-navigation {
        display: none;
    }

    #footer-mobile-ac {
        display: block;
    }
}

/* Font Awesome
----------------------------------------------------------*/
.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }

.fa-socialclub::before {
    content: '';
    background: url("file:///C:/Users/Ronald/Desktop/Projects/Test%20Lab/Projects%20(Web%20-%20HTML)/icones/Rockstar_Games_White.png");
    background-color: rgb(85, 26, 139);
    background-size: cover;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    position: absolute;
    left: 2px;
    top: 2px;
}

/* 
*                                     Footer
----------------------------------------------------------*/
.footer {
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    border-top: 1px solid #0000001c;
}

.footer-container {
    padding: 30px 0;
    text-align: center;
}

.copyright {
    color: #030303;
    font-size: 12px;
    font-weight: 600;
    display: block;
    text-transform: uppercase;
    line-height: 150%;
    letter-spacing: 1px;
}

/*
----------------------------------------------------------*/
