/* ------------------------------------------ */
/*            RESPONSIVE STYLE
/* ------------------------------------------ */

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
  .col-news-table {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 1130px) {
}

@media screen and (max-width: 980px) {
.container {
    max-width: 960px;
}}

@media screen and (max-width: 880px) {
.container {
    max-width: 720px;
}}

@media screen and (max-width: 700px) {
}

@media screen and (max-width: 600px) {
.container {
    max-width: 540px;
}}

@media screen and (max-width: 440px) {
}

@media screen and (max-width: 340px) {
}

@media screen and (max-width: 310px) {
}
